.passiveStar {
  cursor: pointer;
}
.activeStar {
  cursor: pointer;
}
.table_body {
  cursor: pointer;
}
.table_body:hover {
  background: #e8f0ff;
  transition: all 0.2s ease;
}
.main_pass_name {
  color: #141414;
  font-family: Segoe UI;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
